@import '../../assets/styles/variables';

.container {
  background-color: #ffffff;
  width: 416px;
  height: 100vh;
}
.textHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  font-family: $fontFamilyBase;
  color: #000000;
  padding-top: 24px;
  padding-left: 24px;
}
.inputContainer {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dedede;
}
.index {
  font-family: $fontFamilyBase;
  margin-left: 10px;
}
.line {
  width: 100%;
  border-bottom: 1px solid #dedede;
  margin-top: 10px;
}
.input {
  font-family: $fontFamilyBase;
  margin-left: 10px;
  height: 70%;
  width: 70%;
  border: none;
  border-bottom: 1px solid #dedede;
  &:focus {
    border-bottom-color: blue;
  }
}
