@import './variables';

body {
  height: 100%;
  overflow: auto;
  font-size: (16 / $df-fs) * $rem;
  line-height: 1.44;
  font-weight: 400;
  font-family: $fontFamilyBase;
}

h1 {
  font-size: (16 / $df-fs) * $rem;
  font-weight: 500;
  line-height: (23.17 / $df-fs) * $rem;
}

h2 {
  font-size: (16 / $df-fs) * $rem;
  font-weight: 400;
  line-height: (21.72 / $df-fs) * $rem;
}

h3 {
  font-size: (15 / $df-fs) * $rem;
  font-weight: 500;
  line-height: (23.17 / $df-fs) * $rem;
}

h4 {
  font-size: (15 / $df-fs) * $rem;
  font-weight: 400;
  line-height: (21.72 / $df-fs) * $rem;
}
input {
  &:focus-visible {
    outline: none;
  }
}
