//unit
$df-fs: 16;
$rem: 1rem;

//color
$point_purple: #9218EF;
$point_light_purple: #F6EDFF;
$point_yellow: #FFD138;
$point_black: #2A292D;

$text_dark_1: #000000;
$text_dark_2: #353535;
$text_dark_3: #757575;
$text_dark_4: #656565;

$text_light_1: #CDCDCD;
$text_light_2: #DEDEDE;
$text_light_3: #F4F4F4;
$text_light_4: #FAFAFA;
$text_light_5: #FFFFFF;

//font
$fontFamilyBase: 'Noto Sans KR', sans-serif;
