@import '../../assets/styles/variables';

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62px;
  height: 921px;
}

.MenuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;

  &.MenuItemActive {
    background: $point_light_purple;

    .MenuItemText {
      color: $point_purple;
    }
  }

  &:hover {
    background: #f4f4f4;
    transition: $transition;
  }
}

.MenuItemText {
  color: $text_dark_3;
  font-weight: 500;
  font-size: (11 / $df-fs) * $rem;
}
